@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: white;
  --orange: #ee8801;
  --hoverOrange: #f0ab51;
  --activeOrange: #e69429;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
    --orange: #ee8801;
    --hoverOrange: #f0ab51;
    --activeOrange: #e69429;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  ::placeholder {
    color: white;
  }
}

.orange-button {
  background: var(--orange);
}

.orange-button:hover {
  background: var(--hoverOrange);
}

.orange-button:active {
  background: var(--activeOrange);
}
